<h1>{{post.product_name}}</h1>
<h3>Information: {{post.info_text}}</h3>
<form method="post" action="{% url 'deals:vote' post.id %}">
    {% csrf_token %}
    <button type="submit" name="upvote">Upvote</button>

    <h3>↑</h3>
    <h3>{{post.score}}</h3>
    <h3>↓</h3>
    <button type="submit" name="downvote">Downvote</button>
</form>

<ul>
    {% for comment in post.comment_set.all %}
        <li>{{comment.body_text}}</li>
    {% endfor %}
</ul>

<form action="{% url 'deals:commenthandler' post.id%}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><p>Create Comment</p></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <p>
            <input type="text" name="comment_text"/>
        </p>
    </fieldset>
    <input type="submit" value="Create">
</form>